/* apps/web/src/styles/components/button.css */

.hero-card__scroll-trigger {
  background: none;
  border: none;
  cursor: pointer;
}

.hero-card__scroll-trigger svg {
  width: calc(var(--font-size-4) * 0.7);
  height: calc(var(--font-size-4) * 0.7);
  margin-top: 8px;
  line-height: 1;
  color: $color-hyperbeam;
  transition: color 0.3s ease;
}

@media screen and (min-width: 50em) {
  .hero-card__scroll-trigger svg {
    margin-top: initial;
    width: calc(var(--font-size-4));
    height: calc(var(--font-size-4));
  }
}

.hero-card__scroll-trigger:hover svg {
  color: $color-aircutter;
}

@media screen and (min-width: 50em) {
  [data-page='/services'] .hero-module button {
    padding-inline: var(--space-fluid-10-20);
    padding-block: var(--space-fluid-20-40);
  }
}

[data-page^='/work'] #content-start {
  /* scroll-margin-top: var(--space-fluid-20-40); */
}

[data-page='/services'] #content-start {
  scroll-margin-top: var(--space-fluid-20-40);
}
