/* apps/web/src/styles/components/image.css */

@import '../mixins';

/* Image - base style */
.image {
  overflow: hidden;
}

.image img {
  z-index: var(--z-image);
}

.hero-card__image--hero {
  @mixin aspect-ratio-hero-image;
}

.single-image-card__image--full-width {
  aspect-ratio: 16 / 9;
}

.text-image-card__image--half-width {
  @mixin aspect-ratio-half-width;
}

.impact-cards--one-text-one-image .impact-card__image--impact {
  @mixin aspect-ratio-impact;
}

.image--video-poster {
  aspect-ratio: 16 /9;
}

.case-study__grid .case-study__image--teaser {
  @mixin aspect-ratio-teaser-card;
}
