/* apps/web/src/stylesl/label.css */

.label {
  font-size: var(--font-size-all-caps-fluid);
  font-weight: 900;
  letter-spacing: var(--letter-spacing-loose);
  line-height: var(--line-height-default);
  text-transform: uppercase;
  display: block;
}

.label--client-label {
  font-size: var(--font-size-all-caps-fluid);
  line-height: var(--line-height-loose);
  margin-block-end: var(--space-5);
}

.label.list {
  font-size: var(--font-size-all-caps-fluid);
  line-height: var(--line-height-loose);
}

[data-page='/'] .layout-wrapper .text-module .promo .label {
  text-transform: initial;
  font-size: var(--font-size-sm-fluid);
  letter-spacing: var(--letter-spacing-default);
  font-weight: 100;
}

.case-study .hero-module .label--list {
  margin-block-end: 0.4em;
}

.case-study .hero-module .label--client-label {
  margin-block-end: 0.6em;
}

.case-study .hero-module .label--client-label,
.case-study .hero-module .label--list {
  color: $color-hyperbeam;
}
