/* apps/web/src/stylesl/list.css */

/* Base layout */
.services-list li {
  font-size: var(--font-size--3);
  line-height: 1.5;
  list-style: disc;
}

.services-list ul {
  columns: 1;
  margin-inline-start: 1.5ch;
}

@media screen and (min-width: 50em) {
  .services-card .services-list ul {
    columns: 2;
    gap: 10ch;
  }
}

@media screen and (min-width: 50em) {
  .services-page .services-list li {
    font-size: 0.75rem;
    line-height: 1.7;
  }
}
