/* apps/web/src/stylesl/list.css */

.services-card .services-list p,
.hero-module .services-list p {
  color: $color-hyperbeam;
  margin-block-end: var(--space-5);
}

.services-card .services-list li,
.hero-module .services-list li {
  font-size: var(--font-size-xs-fluid);
  line-height: var(--line-height-very-loose);
}

.case-study .hero-module .content .meta li {
  text-indent: -1ch;
  margin-left: 1ch;
}

/* Lists */
.lists {
  padding: 0;
}

@media screen and (min-width: 50em) {
  .hero-module .services-list li {
    /* line-height: var(--line-height-default); */
  }
}

.services-card .services-list ul {
  columns: 2;
}
