/* apps/web/src/styles/components/title.css */

/* Base */
.subtitle {
  letter-spacing: var(--letter-spacing-tight);
  line-height: var(--line-height-tight);
  white-space: pre-line;
}

/* Default */
.subtitle.default {
  font-family: var(--font-sans);
  font-size: var(--font-size-subtitle-fluid);
}

/* Primary */
.subtitle.primary {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl-fluid);
  text-transform: uppercase;
  line-height: var(--line-height-very-tight);
}

@media screen and (min-width: 50em) {
}

/* Secondary */
.subtitle.secondary {
}

/* Tertiary */
.subtitle.tertiary {
}

.text-module .has-headline .subtitle.secondary {
}

/* Module-specific overrides - Hero Module */
.hero-module .subtitle.primary {
}

/* Module-specific overrides - Impact Module */

/* Module-specific overrides - Case Study Card (home) */

/* Module-specific overrides - Case Study Carousel Module */

/* Page-specific overrides – Homepage – Text Module, promo */

/* Page specific overrides */
[data-page='/services'] .services-card-module .subtitle.primary {
  /* width: 50%; */
}

.case-study-carousel-module > .subtitle.tertiary {
}

@media screen and (min-width: 50em) {
  [data-page='/services'] .services-card-module .subtitle.primary {
  }
}
