/* apps/web/src/styles/components/title.css */

/* Base */
.title {
  white-space: pre-line;
}

/* Default */
.title.default {
  font-family: var(--font-sans);
}

/* Primary */
.title.primary {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl-fluid);
  text-transform: uppercase;
  line-height: var(--line-height-very-tight);
}

/* Primary – with container queries */
.title.primary:where([data-length='long']) {
  font-size: clamp(24px, 5cqi, 38px);
}

@media screen and (min-width: 50em) {
  .title.primary:where([data-length='long']) {
    font-size: clamp(24px, 10cqi, 42px);
  }
}

/* Secondary */
.title.secondary {
  font-family: var(--font-serif);
  font-size: var(--font-size-lg-fluid);
  text-transform: uppercase;
}

/* Tertiary */
.title.tertiary {
  font-family: var(--font-sans);
  font-size: var(--font-size-lg-fluid);
  font-weight: 100;
  line-height: var(--line-height-tight);
}

.text-module .has-headline .title.secondary {
  margin-bottom: 4px;
  margin-right: 5%;
  line-height: var(--line-height-very-tight);
}

/* Module-specific overrides - Hero Module */
.hero-module .title.primary {
  max-width: 100%;
  width: 100%;
  line-height: var(--line-height-tight);
}

/* Module-specific overrides - Impact Module */
.impact-module .title.tertiary {
  white-space: pre-line;
  max-width: 100%;
  width: 100%;
  min-height: 2em;
}

@media screen and (min-width: 50em) {
  .impact-module .title.tertiary {
    margin-block-end: var(--space-20);
  }
}

/* Module-specific overrides - Case Study Card (home) */
.case-study-card .title.tertiary,
.case-study-card .clients span {
  color: $color-hyperbeam;
  transition: color var(--ease-fast);
}

.case-study-card:hover .title.tertiary,
.case-study-card:hover .clients span {
  color: $color-aircutter;
}

/* Module-specific overrides - Case Study Carousel Module */
.case-study-carousel-module .case-study-card .title {
  font-family: var(--font-serif);
  font-size: var(--font-size-sm-fluid);
  text-transform: uppercase;
  line-height: var(--line-height-very-tight);
}

/* Page-specific overrides – Homepage – Text Module, promo */

/* Page specific overrides */
.case-study-carousel-module > .title.tertiary {
  font-size: var(--font-size-lg-fluid);
}

@media screen and (min-width: 50em) {
  .chyron-card .title {
    white-space: nowrap;
    text-align: center;
  }

  [data-page='/services'] .chyron-card .header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  [data-page='/services'] .chyron-card p.body {
    width: 40ch !important;
    text-align: center;
    width: 100%;
  }
}
