/* apps/web/src/styles/scene/model.css */

/* DEV MODEL */
[data-page='/dev/model'] main {
  background: var(--color-aircutter);
}

/* Mask */

[data-page='/dev/model'] main {
  .model__special-fx {
    position: relative;
  }

  .model {
    position: relative;
    z-index: 1;
    mask-image: radial-gradient(circle at 50% 50%, black 44%, transparent 63%);
    -webkit-mask-image: radial-gradient(
      circle at 50% 50%,
      black 44%,
      transparent 63%
    );
    mask-size: 100% 100%;
    -webkit-mask-size: 100% 100%;
    mask-position: center;
    -webkit-mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
  }

  .linear-gradient {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 56%;
    background: linear-gradient(to top, #000000, transparent);
    opacity: 0.25;
    pointer-events: none;
    z-index: 2;
  }
}
