/* apps/web/src/styles/scene/model.css */

/* DEV MODEL */
[data-page='/dev/model'] main {
  background: var(--color-aircutter);
}

[data-page='/dev/model'] main {
  background: var(--color-aircutter);
}

/* Mask */

.model {
  z-index: 10;
}

/* .model {
  mask-image: radial-gradient(circle at 50% 50%, black 59%, transparent 64%);
  -webkit-mask-image: radial-gradient(
    circle at 50% 50%,
    black 59%,
    transparent 64%
  );
  mask-size: 96vh 96vh;
  -webkit-mask-size: 96vh 96vh;
  mask-position: center;
  -webkit-mask-position: center;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
}

.bokeh-1 {
  position: absolute;
  width: min(100vw, 100vh);
  height: min(100vw, 100vh);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: radial-gradient(circle, #000000 0%, #000000 100%);
  opacity: 0.65;
  filter: blur(200px);
  pointer-events: none;
}

.linear-gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30%;
  background: linear-gradient(to top, #000000, transparent);
  opacity: 0.45;
  pointer-events: none;
}

.eye-shadow {
  position: absolute;
  width: 80vh;
  height: 15vh;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background: radial-gradient(
    ellipse,
    rgba(20, 21, 21, 0.7) 0%,
    transparent 60%
  );
  filter: blur(12px);
  pointer-events: none;
} */
