/* apps/web/src/styles/home.css */

/* Layout */

.home__modules {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-block-start: var(--space-fluid-40-80);
}

.home__modules .text-module {
  padding-inline: var(--space-fluid-20-160);
}

[data-page='/'] [data-module-index='0'] {
  margin-block-end: var(--space-fluid-20-40);
  @media screen and (min-width: 50em) {
    margin-block-end: var(--space-100);
  }
}

[data-page='/'] [data-module-index='0'] .text-card__text {
  width: 90%;

  @media screen and (min-width: 50em) {
    width: 870px;
  }
}

[data-page='/'] [data-module-index='1'] {
  margin-block-end: var(--space-fluid-40-80);

  @media screen and (min-width: 50em) {
    margin-left: auto;
  }
}

[data-page='/'] [data-module-index='1'] .text-card__text {
  margin-block-end: var(--space-fluid-10-20);
  width: 75vw;
  @media screen and (min-width: 50em) {
    width: 320px;
    margin-block-end: var(--space-60);
  }
}

[data-page='/'] [data-module-index='2'] {
  margin-block-end: var(--space-fluid-20-60);
}

@media (min-width: 50em) {
  [data-page='/'] [data-module-index='3'] .label {
    text-align: right;
  }
}

/* Typography */

[data-page='/'] [data-module-index='0'] .text-card__text p,
[data-page='/'] [data-module-index='2'] h2.title {
  font-family: var(--font-sans);
  font-size: var(--font-size-home-text-lg);
  line-height: 1;
  letter-spacing: -0.05em;
  font-weight: 500;
}

[data-page='/'] [data-module-index='1'] .text-card__text p {
  @mixin body-xs;
  line-height: 2;
}

[data-page='/'] [data-module-index='2'] .label.small-caps {
  font-family: var(--font-sans);
  font-weight: 100;
  color: var(--color-sandstorm);
}

[data-page='/'] [data-module-index='2'] .label {
  @mixin body-xs;
}

[data-page='/'] [data-module-index='1'],
[data-page='/'] [data-module-index='3'] {
  .label {
    font-family: var(--font-serif);
    color: $color-hyperbeam;
    letter-spacing: var(--letter-spacing-extra-loose);
    text-transform: uppercase;
  }

  a {
    transition: color 0.3s ease-out;

    &:hover {
      color: $color-sandstorm;
    }

    > svg {
      color: inherit;
      vertical-align: 0.15em;
      margin-left: 0.3em;
      width: 0.6em;
      height: auto;
    }
  }
}
