/* apps/web/src/styles/pages/services.css */

/* Services Page – layout wrapper */
[data-page='/services'] .layout-wrapper {
  display: flex;
  flex-direction: column;
  background: $color-sandstorm;
}
[data-page='/services'] .services-card-module {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

[data-page='/services'] .services-card-module .services-card {
  /* background: red; */
}

/* Services Page – responsive layout */
@media screen and (min-width: 60em) {
  [data-page='/services'] .services-card-module {
    height: 50vh;
    display: flex;
    flex-direction: column;
  }
}
