/* apps/web/src/styles/pages/services.css */

/* Services Page – layout wrapper */
[data-page='/services'] .layout-wrapper {
  display: flex;
  flex-direction: column;
  background: $color-sandstorm;
}

[data-page='/services'] .services-card-module {
  display: flex;
  flex-direction: column;
}

/* Services Page – responsive layout */
@media screen and (min-width: 50em) {
  [data-page='/services'] .services-card-module {
    display: flex;
    flex-direction: column;
  }

  [data-page='/services'] #content-start .subtitle {
    padding-inline: var(--space-fluid-20-40);
  }
}
