/* Services Cards */

/* SHOW HIDE (TODO: there's a better way to do this in JSX) */
[data-page='/services'] {
  .services-page-card__narrow {
    display: block;
  }
  .services-page-card__wide {
    display: none;
  }

  @media screen and (min-width: 50em) {
    .services-page-card__narrow {
      display: none;
    }
    .services-page-card__wide {
      display: block;
    }
  }
}

/* SERVICES CARDS: Spacing  */
.services-page .rubric--services,
.services-page .rubric--clients {
  padding-block: var(--card-frame-2);
  padding-inline-start: var(--card-frame-1);
}

.services-page-card__content {
  padding: var(--card-frame-1);
}

.services-page-card__title {
  margin-block-end: var(--flow-space-1);
}

.services-page .rubric--services {
  background: var(--color-sandstorm);
}

.services-page-card {
  background: var(--color-nightshade);
}

.services-page-card .image {
  position: relative;
  @mixin aspect-ratio-services-card;
}

/* SERVICES + CHYRON CARDS: Typpography  */
.services-page-card__content h2.services-page-card__title {
  @mixin title-primary var(--font-serif), uppercase;
}

.services-page h2.rubric--services,
.services-page h2.rubric--clients {
  @mixin title-primary;
}

.services-page__chyron .services-page-card__text {
  @mixin body-sm;
}

.services-page__chyron .services-page-card__text p {
  width: 30ch;
}

/* CHYRON: spacing */

.services-page__chyron .services-page-card__content {
  padding-block: var(--flow-space-2);
}

.services-page__chyron .services-page-card__header {
  padding-inline: var(--flow-space-2);
}

.rfm-marquee-container:not(:last-child) {
  padding-bottom: var(--flow-space-2);
}

@media screen and (min-width: 50em) {
  .services-page__chyron .rubric--clients {
    text-align: center;
  }
  .services-page__chyron .services-page-card__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .services-page__chyron .title {
    white-space: initial;
    margin: 0 auto var(--flow-space-1) auto;
  }
  .services-page__chyron .services-page-card__text {
    text-align: center;
    margin: 0 auto;
  }

  .services-page__chyron .services-page-card__text p {
    max-width: 40ch;
    width: 100%;
  }
}
