/* apps/web/src/styles/modules/carousel.css */

@import '../mixins.css';

/*  Base layout, all carousels */
.swiper-wrapper {
  transition-timing-function: linear !important;
}

.swiper-slide .image {
  aspect-ratio: var(--aspect-ratio-square);
}

.swiper .case-study__card .case-study__details {
  justify-content: flex-end;
}

.swiper .case-study__card::before {
  display: none;
}

/* Layout, carousel module */
.carousel-module {
  padding: var(--flow-space-0);
}

.swiper-wrapper {
  /* gap: var(--space-fluid-10-20); */
}

/* Layout, case study card carousel */
.case-study-carousel-module {
  padding-inline: var(--flow-space-0);
  background: $color-sandstorm;
}

/* Header, case study card carousel */
.case-study-carousel-module .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: var(--space-fluid-20-40);
  padding-inline: var(--space-fluid-20-40);
}

/* Button, case study card carousel */
.case-study-carousel-module .header svg {
  width: 45px;
  height: auto;
  color: $color-hyperbeam;
  margin-top: 0.5em;
  transition: color var(--ease-fast);
}
