/* apps/web/src/styles/modules/carousel.css */

@import '../mixins.css';

.swiper-slide {
  aspect-ratio: 1 / 1;
}

.swiper .swiper-wrapper {
  transition-timing-function: linear;
  margin: 0 auto;
}
