/* apps/web/src/styles/modules/carousel.css */

@import '../mixins.css';

.swiper-slide {
  aspect-ratio: 1 / 1;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  margin: 0 auto;
}

.swiper-slide .image {
  aspect-ratio: 1 / 1;
}
