/* apps/web/src/styles/modules/hero.css */

@import '../mixins.css';

.hero-module .wrapper {
  padding-bottom: var(--space-40);

  .row.marquee {
    @mixin flex-responsive column;
    position: relative;

    .content {
      position: relative;
    }

    .image {
      aspect-ratio: 1 / 1;
    }

    .text {
      @mixin gutters-text-large;
      @mixin head-foot-text;
    }
  }

  .row.meta {
    .bar {
      display: none;
    }

    .text {
      @mixin gutters-text-large;
      padding-bottom: 0;
      width: 75%;
    }

    .text p.medium {
      line-height: var(--line-height-medium);
    }

    .services {
      display: flex;
      justify-content: flex-start;
      gap: var(--space-20);
      @mixin gutters-text-large;
    }

    .text,
    .text p.medium {
      padding-bottom: var(--space-40);
    }
  }

  @media screen and (min-width: 50rem) {
    .row.marquee {
      .image {
        aspect-ratio: 16 / 9;
        width: 100%;
      }

      .text {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 50%;
        background-color: var(--module-bg);
      }
    }

    .row.meta {
      .bar {
        display: block;
        @mixin gutters-text-large;
      }

      .content {
        @mixin flex-responsive column, row;

        .text {
          padding-bottom: 0;
        }

        .text,
        .services {
          flex: 1;
        }

        .text p {
          padding-top: var(--space-40);
          line-height: var(--line-height-tight);
        }

        .services {
          justify-content: center;
          padding-top: var(--space-40);
          .list p {
            line-height: var(--line-height-list);
          }
        }
      }
    }
  }
}
