/* apps/web/src/styles/modules/hero.css */

@import '../mixins.css';

/* Image */
.hero-module .image {
  aspect-ratio: 1 / 1;
  height: 100vh;
  width: 100%;
}

/* Bar */
.hero-module .bar {
  display: none;
}

/* Content */
.hero-module .content {
  display: flex;
  flex-direction: column;
  gap: var(--space-fluid-20-40);
  padding-inline: var(--space-fluid-20-40);
  padding-block: var(--space-fluid-20-40);
}

/* Header */
.hero-module .header {
  display: flex;
  flex-direction: column;
}

/* Body */
.hero-module .body p.text-block {
  max-width: 35ch;
  width: 100%;
  padding-inline-end: 5vw;
  margin-block-end: var(--space-fluid-20-80);
}

/* Meta */
.hero-module .meta {
  display: flex;
  flex-direction: column;
  gap: var(--space-fluid-20-40);
}

/* Lists */
.hero-module .lists {
  display: flex;
  gap: var(--space-fluid-10-20);
}

.hero-module .lists li {
  text-indent: -1ch;
  margin-left: 1ch;
}

.hero-module .services p:first-of-type {
  color: $color-hyperbeam !important;
}

/* Responsive */
@media (min-width: 50em) {
  /* Image */
  .hero-module .image {
    aspect-ratio: 16 / 9;
  }

  /* Bar */
  .hero-module .bar {
    display: block;
  }

  /* Header */
  .hero-module .header {
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--module-bg);
    width: 50%;
    padding-inline: var(--space-fluid-20-40);
    padding-block: var(--space-fluid-20-40);
  }

  /* Content */
  .hero-module .content {
    padding-block-start: 0;
  }

  /* Meta */
  .hero-module .meta {
    flex-direction: row;
    gap: 0;
  }

  /* Body */
  .hero-module .body {
    flex: 1;
  }

  .hero-module .text-block {
    margin-block-end: var(--space-fluid-10-20);
  }

  /* Lists */
  .hero-module .lists {
    flex: 1;
    justify-content: space-evenly;
  }
}
