/* apps/web/src/styles/modules/hero.css */

@import '../mixins.css';

.hero-marquee {
  background-color: var(--module-bg);
}

/* Layout */
.hero-module .hero {
  @mixin flex column, wrap;
  position: relative;
  overflow: hidden;
}

.hero-module .hero-image {
  order: 1;
}

.hero-module .hero-marquee {
  order: 2;
  width: 100%;
  padding: var(--space-fluid-20-40) var(--space-fluid-20-80);
}

.hero-module .hero-accent-bar {
  display: none;
}

.hero-module .hero-metadata {
  padding: var(--space-fluid-20-60) var(--space-fluid-20-80);
}

.hero-module .hero-metadata .flex {
  @mixin flex-responsive;
}

.hero-module .hero-metadata .portable-text {
  padding-right: 5vw;
  padding-bottom: var(--space-fluid-40-120);
}

.hero-module .hero-metadata .services {
  @mixin flex row, nowrap;
  gap: var(--space-fluid-40-120);
}

.hero-module .description {
  @mixin flex column;
  justify-content: space-between;
  height: 100%;
  padding-bottom: var(--space-fluid-20-80);
}

@media screen and (min-width: 50rem) {
  .hero-module .hero-marquee {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: 50%;
  }

  .hero-module .hero-image {
    display: block;
    width: 100%;
    height: auto;
    animation: hero-zoom-out 1s ease-out forwards;
  }

  .hero-module .hero-accent-bar {
    display: block;
    padding-left: var(--space-fluid-20-80);
  }

  .hero-module .hero-metadata .flex-item {
    flex-basis: 50%;
  }

  .hero-module .hero-metadata .services {
    @mixin flex row, nowrap;
    align-items: flex-start;
    justify-content: center;
    gap: var(--space-fluid-40-120);
  }

  .hero-module .description {
  }
}
