/* apps/web/src/styles/modules/hero.css */

@import '../mixins.css';

.hero-module {
  /* Layout */

  .marquee {
    @mixin flex-responsive column;
    position: relative;
  }

  .image {
    /* aspect-ratio: 16 / 9; */
    aspect-ratio: 1 / 1;
  }

  .text {
    background-color: var(--module-bg);
  }
}

/* Wide viewport */

@media screen and (min-width: 50rem) {
  .hero-module {
    .image {
      aspect-ratio: 16 / 9;
      height: 100vh;
      width: 100%;
    }
    .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 50%;
    }
  }
}

.hero .description {
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
