/* apps/web/src/styles/modules/impact.css */

@import '../mixins.css';

.impact-module .wrapper {
  @mixin flex-responsive column, row;

  .row {
    flex: 1;
    @mixin gutters-text-impact;
    @mixin head-foot-text;
    min-height: 200px;
    background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height=".5"><line x1="0" y1="0" x2="100" y2="0" stroke="%23C7D3D3" strokeWidth="1"/></svg>')
      repeat-x;
  }

  .content {
    display: flex;
    flex-direction: column;

    h3 {
      width: 40%;
      max-width: 40%;
      padding-bottom: var(--space-20);
      min-height: 2em;
      margin: 0;
      word-break: keep-all;
      overflow-wrap: normal;
    }

    p.small {
      line-height: var(--line-height-loose);
    }
  }

  @media screen and (min-width: 50rem) {
    .row:nth-child(2) {
      border-right: 1px solid $color-aircutter;
      border-left: 1px solid $color-aircutter;
      background: none;
    }

    .content {
      h3 {
        max-width: 70%;
        width: 70%;
        min-height: 3em;
        text-wrap: balance;
        word-break: keep-all;
        overflow-wrap: normal;
      }

      p.small {
        line-height: var(--line-height-medium);
      }
    }
  }
}
