/* apps/web/src/styles/modules/impact.css */

@import '../mixins.css';

/* Layout, impact-module */
.impact-cards {
  display: flex;
  flex-direction: column;
}

.impact-cards > * {
  flex: 1;
}

.impact-cards .impact-card__item--image {
  @mixin aspect-ratio-impact;
  order: -1;
}

.impact-cards .impact-card__item--text > * {
  padding-inline: var(--flow-space-2);
}

.impact-cards .impact-card__item--text > .title {
  padding-block-start: var(--flow-space-2);
  margin-block-end: var(--flow-space-1);
}

.impact-cards .impact-card__item--text > .text {
  padding-block-end: var(--space-fluid-80-120);
}

.impact-cards > :not(.impact-card__item--image) {
  min-height: 300px;
}

/* Responsive layout, impact-module */
@media screen and (min-width: 50em) {
  .impact-cards {
    flex-direction: row;
  }
  .impact-cards .impact-card__item--image {
    order: 3;
  }
}

/* Typography */
.impact-cards .title {
  @mixin title-tertiary;
}

.impact-cards .text {
  @mixin body-xs;
  width: 45ch;
}

@media screen and (min-width: 50em) {
  .impact-cards .title {
    @mixin title-tertiary;
    min-height: 4em;
  }

  .impact-cards .text {
    width: 100%;
  }
}

/* Borders */
.impact-cards--three-text .impact-card__item:nth-child(2) {
  border-top: 1px solid var(--color-medium-gray);
  border-bottom: 1px solid var(--color-medium-gray);
}

.impact-cards--two-text-one-image .impact-card__item:nth-child(1) {
  border-bottom: 1px solid var(--color-medium-gray);
}

@media screen and (min-width: 50em) {
  .impact-cards--three-text .impact-card__item:nth-child(2) {
    border-top: none;
    border-right: 1px solid var(--color-medium-gray);
    border-bottom: none;
    border-left: 1px solid var(--color-medium-gray);
  }

  .impact-cards--two-text-one-image .impact-card__item:nth-child(1) {
    border-right: 1px solid var(--color-medium-gray);
    border-bottom: none;
  }
}
