/* apps/web/src/styles/modules/impact.css */

@import '../mixins.css';

.impact-module .flex {
  @mixin flex-responsive;
}

.impact-module .flex-item {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  background: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="100" height=".5"><line x1="0" y1="0" x2="100" y2="0" stroke="%23C7D3D3" stroke-width="1"/></svg>')
    repeat-x;
}

.impact-module .flex-item {
  padding: var(--space-fluid-20-80);
}

.impact-module h3 {
  width: 25%;
  max-width: 55%;
  padding-bottom: var(--space-30);
  min-height: 1em;
  margin: 0;
}

.impact-module .portable-text {
  padding-bottom: var(--space-100);
}

.impact-module p {
  line-height: 2;
}

@media screen and (min-width: 50rem) {
  .impact-module .flex {
    min-height: 400px;
  }

  .impact-module .flex-item {
    flex-basis: 33%;
  }

  .impact-module .flex-item:nth-child(2) {
    border-right: 1px solid $color-aircutter;
    border-left: 1px solid $color-aircutter;
  }

  .impact-module h3 {
    min-height: 3em;
    max-width: 100%;
    width: 100%;
  }

  .impact-module p {
    line-height: 1.5;
  }
}
