/* apps/web/src/styles/modules/text.css */

@import '../mixins.css';

/* layout */
.text-module .flex {
  @mixin flex-responsive column;
  padding: var(--space-fluid-20-80);
}

.text-module h2,
.text-module .portable-text {
  padding-right: 10vw;
}

.text-module .tag {
  padding-bottom: var(--space-fluid-20-40);
}

.text-module h2 {
  padding-bottom: var(--space-fluid-20-80);
}

@media screen and (min-width: 50rem) {
  .text-module h2 {
    padding-bottom: 0rem;
  }

  .text-module .portable-text {
    padding-right: 0rem;
  }

  .text-module .flex-item {
    @mixin flex column;
    flex-basis: 50%;
    justify-content: space-between;
  }
}
