/* apps/web/src/styles/modules/text-image.css */

@import '../mixins.css';

.text-image-module {
  /* Layout */

  .container {
    @mixin flex-responsive column, row;
  }

  .row.text {
    order: 2;
  }

  .row.image {
    order: 1;
    aspect-ratio: 1 / 1;
  }

  /* Wide viewport */

  @media screen and (min-width: 50rem) {
    .row {
      flex-basis: 50%;
    }

    .row.text {
      order: 1;
    }

    .row.image {
      order: 2;
      aspect-ratio: 7 / 5;
    }
  }
}
