/* apps/web/src/styles/modules/text.css */

@import '../mixins.css';

/* layout */

.text-module .flex {
  @mixin flex-responsive column;
}

.text-module .flex.headline-left {
  h2,
  .portable-text {
    padding-right: 10vw;
  }

  h2 {
  }

  .tag {
  }
}

.text-module .flex.headline-middle {
  .flex-item.copy {
    margin: 0 auto;
    width: 100%;
  }

  .portable-text {
  }

  .portable-text p,
  .tag {
    text-align: center;
  }
}

@media screen and (min-width: 50rem) {
  .text-module .flex.headline-left {
    .flex-item {
      @mixin flex column;
      justify-content: space-between;
    }

    padding: var(--space-fluid-20-40) var(--space-fluid-20-80)
      var(--space-fluid-40-120);
    h2 {
      padding-bottom: 0rem;
    }
    .portable-text {
      padding-right: 0rem;
    }
  }
}
