/* apps/web/src/styles/modules/text-image.css */

@import '../mixins.css';

/* layout */
.text-image-module .flex {
  @mixin flex-responsive;
}

.text-image-module .flex-item.text {
  padding: var(--space-fluid-20-80);
  order: 2;
}

.text-image-module .portable-text {
  padding-right: 5vw;
}

.text-image-module .flex-item.image {
  order: 1;
  display: flex;
}

.text-image-module .flex-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 50rem) {
  .text-image-module .flex-item {
    flex-basis: 50%;
  }

  .text-image-module .flex-item:first-child {
    order: 1;
  }

  .text-image-module .flex-item:last-child {
    order: 2;
  }
}
