/* styles/base.css */

@import 'tokens.css';

html {
  max-width: 100vw;
}

html,
body {
  overflow-x: hidden;
}

body {
  color: $color-nightshade;
  background: $color-aircutter;
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

a[href^='tel'],
a[href^='mailto'] {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
