/* apps/web/src/components/modules/Hero/HeroModule.tsx */

/* HERO MODULE STYLES */
.hero {
  position: relative;
}

.hero-marquee {
  position: absolute;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 50%;
  padding: 1.75rem 1rem 2.25rem 3rem;
}

.hero-image {
  position: relative;
  width: 100%;
  overflow: hidden; /* ✅ this is your clipping mask */
}

.hero-image img {
  display: block;
  width: 100%;
  transform: scale(1); /* start slightly zoomed in */
  transform-origin: center center;
  animation: heroZoomOut 1s ease-out forwards;
}

@keyframes heroZoomOut {
  to {
    transform: scale(1.1); /* tween down to 100% */
  }
}

.text-module {
  padding: 5rem 3rem;
  .flow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr;
    gap: var(--space-4);
    align-items: start;
  }

  @media (max-width: 60rem) {
    .flow {
      grid-template-columns: 1fr;
      grid-template-rows: auto auto auto;
    }
  }

  .flow h3 {
    grid-column: 1;
    grid-row: 1;
    align-self: start;
  }

  .flow h2 {
    grid-column: 1;
    grid-row: 2;
    align-self: end;
  }

  .flow .body {
    grid-column: 2;
    grid-row: 1 / span 2;
    align-self: start;
  }
  .body {
    hyphens: none;
    text-wrap: balance;
    text-justify: inter-word;
  }
}
