/* apps/web/src/styles/footer.css */

@import './mixins';

/* Layout - Footer & Mobile Menu Wrapper */
footer .wrapper,
.mobile-menu .wrapper {
  padding: var(--space-fluid-20-40) var(--space-fluid-20-40)
    var(--space-fluid-20-40);
}

footer .wrapper {
  display: grid;
  gap: 1rem;

  @media screen and (min-width: 40em) {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

/* Layout - Mobile Menu */
.mobile-menu {
  @mixin flex-responsive column;
  height: 100%;

  .wrapper {
    @mixin flex-responsive column;
    flex: 1;

    .row:first-child {
      flex: 1;
    }
  }

  .wordmark {
    margin-top: auto;

    @media screen and (min-width: 50em) {
      display: none;
    }
  }
}

.menu-secondary.utilities,
.menu-secondary.social {
  grid-column: 1 / -1;
  @mixin flex-responsive row, column, 30em;
  justify-content: flex-end;
  align-items: flex-end;

  @media screen and (min-width: 30em) {
    justify-content: space-between;
  }
}

.menu-secondary .address p,
.menu-secondary.social ul li a {
  text-align: right;
}

.menu-secondary.addresses .address:first-child {
  padding-bottom: var(--space-20);
}

.mobile-menu .menu-secondary.addresses .address {
  padding-bottom: var(--space-20);
}

.menu-secondary.utilities {
  button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    width: fit-content;
  }
}
.menu-secondary.social,
.menu-secondary.utilities {
  @mixin flex-responsive column, row, 30em;
  align-items: flex-end;
  @media screen and (min-width: 30em) {
    justify-content: space-between;
  }
}

.menu-secondary.social {
  @mixin flex-responsive column, row, 30em;
}

.menu-secondary.social ul {
  @mixin flex-responsive column, row, 30em;
  justify-content: space-between;
  @media screen and (min-width: 30em) {
    gap: var(--space-20);
  }
}
footer .menu-primary,
footer .menu-secondary.addresses {
  padding-bottom: var(--space-fluid-20-100);
}

.menu-secondary.social ul {
  padding-bottom: var(--space-20);
  @media screen and (min-width: 30em) {
    padding-bottom: initial;
  }
}
