/* apps/web/src/styles/headroom.css */

/* .headroom-wrapper {
  position: absolute;
}

.headroom {
  top: 10;
  left: 10;
  right: 10;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
}

.headroom--pinned {
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
} */
