/* apps/web/src/styles/headroom.css */

.headroom {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
}

.headroom--pinned {
  transform: translateY(0);
  transition: transform 200ms ease-in-out;
}
