/* // apps/web/src/styles/headroom.css

.headroom {
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.headroom-wrapper {
  position: fixed;
}

.headroom--unfixed {
  position: fixed;
  transform: translateY(0);
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
} */
