/* apps/web/src/styles/home.css */
@import './mixins.css';

/* Layout Wrapper */
.layout-wrapper {
  position: relative;
}

/* Home Page Layout */
[data-page='/'] .layout-wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-fluid-20-40);
  padding-block: var(--space-fluid-20-100);
  padding-inline: var(--space-fluid-20-40);
}

/* Module 1 */
[data-page='/'] [data-module-index='1'] .content,
[data-page='/'] [data-module-index='1'] .label {
  margin-block-end: var(--space-fluid-20-40);
}

/* Module 3 */
[data-page='/'] [data-module-index='3'] {
  margin-block-end: var(--space-fluid-20-80);
}

[data-page='/'] [data-module-index='3'] .case-study-cards {
  margin-block-end: var(--space-fluid-20-80);
}

/* Module 4 */
[data-page='/'] [data-module-index='4'] .content.promo {
  padding-inline-end: var(--space-fluid-40-80);
}

/* Client Icons Module */
[data-page='/'] .client-icons-module {
  margin-block-end: var(--space-fluid-20-80);
}

/* Responsive */
@media (min-width: 50em) {
  /* Module 0 */
  [data-page='/'] [data-module-index='0'] {
    max-width: 70em;
    padding-inline-start: var(--space-fluid-40-80);
    padding-block-end: var(--space-fluid-20-40);
  }

  /* Module 1 */
  [data-page='/'] [data-module-index='1'] {
    position: relative;
    max-width: 40em;
    margin-left: 50%;
    padding-left: var(--space-fluid-10-20);
  }

  [data-page='/'] [data-module-index='1'] .content.promo {
    max-width: 30em;
    margin-block-end: var(--space-fluid-20-40);
  }

  /* Module 3 */
  [data-page='/'] [data-module-index='3'] .case-study-cards {
    margin-block-end: var(--space-fluid-10-20);
  }

  /* Module 4 */
  [data-page='/'] [data-module-index='4'] .content.promo {
    max-width: 70em;
    padding-inline-start: var(--space-fluid-40-80);
    padding-inline-end: var(--space-fluid-80-160);
    padding-block-end: var(--space-fluid-60-120);
  }

  /* Client Icons Module */
  [data-page='/'] .client-icons-module {
    margin-block-end: var(--space-fluid-10-20);
  }
}
