/* apps/web/src/styles/home.css */
@import './mixins.css';

/* Layout, homepage, model positioning and masthead z-indices */

.home__modules {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--space-fluid-20-40);
  padding-block: var(--space-fluid-20-100);
  padding-inline: var(--space-fluid-20-40);
}

/* Module 0: We are fans and experts... */

/* Module 1: View our services... */
[data-page='/'] [data-module-index='1'] .text-card__text {
  margin-bottom: var(--card-frame-1);
}

/* Typography */

/* Module 0: We are fans and experts... */
[data-page='/'] [data-module-index='0'] .text-card__text p {
  @mixin body-large;
}

/* Module 1: View our services... */
[data-page='/'] [data-module-index='1'] .text-card__text p {
  @mixin body-extra-small;
  line-height: 2;
}

/* Module 2: Our work... */
[data-page='/'] [data-module-index='2'] .label {
  @mixin body-extra-small;
  line-height: 2;
}

[data-page='/'] [data-module-index='2'] .title {
  @mixin title-secondary;
  font-family: var(--font-sans); /* override */
  text-transform: initial;
}

/* Module 3 */
[data-page='/'] [data-module-index='3'] {
  margin-block-end: var(--space-fluid-20-80);
}

[data-page='/'] [data-module-index='3'] .case-study-grid {
  margin-block-end: var(--space-fluid-20-80);
}

/* Module 4 */
[data-page='/work'] .content.home {
  padding-inline-end: var(--space-fluid-40-80);
}

/* Client Icons Module */
[data-page='/'] .client-icons-module {
  margin-block-end: var(--space-fluid-20-80);
}

@media (min-width: 50em) {
  /* Module 0 */
  [data-page='/'] [data-module-index='0'] {
    max-width: 70em;
    padding-inline-start: var(--space-fluid-40-80);
    padding-block-end: var(--space-fluid-20-40);
  }

  /* Module 1 */
  [data-page='/'] [data-module-index='1'] {
    position: relative;
    max-width: 40em;
    margin-left: 50%;
    padding-left: var(--space-fluid-10-20);
  }

  [data-page='/'] [data-module-index='1'] .text-card--promo {
    max-width: 30em;
    margin-block-end: var(--space-fluid-20-40);
  }

  /* Module 3 */
  [data-page='/'] [data-module-index='3'] .case-study-grid {
    margin-block-end: var(--space-fluid-10-20);
  }

  /* Module 4 */
  [data-page='/'] [data-module-index='4'] .text-card--promo {
    max-width: 70em;
    padding-inline-start: var(--space-fluid-40-80);
    padding-inline-end: var(--space-fluid-80-160);
    padding-block-end: var(--space-fluid-60-120);
  }

  /* Client Icons Module */
  [data-page='/'] .client-icons-module {
    margin-block-end: var(--space-fluid-10-20);
  }
}
