/* apps/web/src/styles/index.css */

/* Imports */
@import './reset.css';
@import './tokens.css';
@import './base.css';
@import './utils.css';
@import './layout.css';
@import './typography.css';
@import './wordmark.css';
@import './marquee.css';
@import './headroom.css';
@import './navigation.css';
@import './footer.css';
/* @import './components.css'; */
@import './modules/hero.css';
@import './modules/text-image.css';
@import './modules/video.css';
@import './modules/text.css';
@import './modules/impact.css';
@import './modules/cards.css';
@import './modules/carousel.css';
