/* apps/web/src/styles/layout.css */

@import './mixins.css';

.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: var(--viewport-layout);
  margin: 0 auto;
}

main {
  flex: 1;
}

.page.services {
  background: $color-sandstorm;
}

.image {
  position: relative;
  object-fit: cover;
  overflow: hidden;
}
