/* apps/web/src/styles/mixins.css */

@import './tokens.css';

/* ASPECT RATIOS */

/* Square */
@define mixin aspect-ratio-square {
  aspect-ratio: var(--aspect-ratio-square);
}

/* Hero */
@define-mixin aspect-ratio-hero-image {
  aspect-ratio: var(--aspect-ratio-square);

  @media screen and (min-width: 50em) {
    aspect-ratio: var(--aspect-ratio-full-width);
  }
}

/* Full-width */
/* TODO: Is this redundant (see above) */
@define-mixin aspect-ratio-full-width-image {
  aspect-ratio: var(--aspect-ratio-square);

  @media screen and (min-width: 50em) {
    aspect-ratio: var(--aspect-ratio-full-width);
  }
}

/* Half-width */
@define-mixin aspect-ratio-half-width {
  aspect-ratio: var(--aspect-ratio-half-width);

  @media screen and (min-width: 50em) {
    aspect-ratio: var(--aspect-ratio-half-width);
  }
}

/* Case study teaser card */
@define-mixin aspect-ratio-teaser-card {
  aspect-ratio: var(--aspect-ratio-square);

  @media screen and (min-width: 50em) {
    aspect-ratio: var(--aspect-ratio-teaser-card);
  }
}

/* Services card (banner) */
@define-mixin aspect-ratio-services-card {
  aspect-ratio: var(--aspect-ratio-square);

  @media screen and (min-width: 50em) {
    aspect-ratio: var(--aspect-ratio-services-card);
  }
}

/* Impact card */
@define-mixin aspect-ratio-impact {
  aspect-ratio: 1 / 1;
  @media screen and (min-width: 50em) {
    aspect-ratio: 1 / 1;
  }
}

/* TYPOGRAPHY */

@define-mixin label-small {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size--2);
  line-height: var(--line-height-0);
  letter-spacing: var(--letter-spacing-default);
}

@define-mixin label-medium {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size--2);
  line-height: var(--line-height-0);
  letter-spacing: var(--letter-spacing-default);
}

/* Body, extra-small: used for body copy on home page and impact cards */
@define-mixin body-xs {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size--4);
}

/* Body, small: primarily used for body copy on text-image amd impact module cards */
@define-mixin body-sm {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size--1);
  line-height: var(--line-height-fluid-2-to-1-5);
}

/* Body, medium: primarily used for body copy on text module cards  */
@define-mixin body-md {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-0);
  line-height: var(--line-height-fluid-2-to-1);
}

/* Body, large  */
@define-mixin body-lg {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size-2);
  line-height: 1;
}

@define-mixin title-primary $font-family, $text-transform {
  font-family: $font-family;
  font-weight: 400;
  font-size: var(--font-size-3);
  line-height: 1;
  letter-spacing: var(--letter-spacing-tight);
  text-transform: $text-transform;
}

@define-mixin title-secondary $font-family, $text-transform {
  font-family: $font-family;
  font-weight: 400;
  font-size: var(--font-size-2);
  text-transform: $text-transform;
}

@define-mixin title-tertiary {
  font-family: var(--font-sans);
  font-weight: 400;
  font-size: var(--font-size-2);
}

@define-mixin small-caps $color {
  font-family: var(--font-sans);
  font-weight: var(--font-weight-default);
  font-size: var(--font-size--4);
  line-height: var(--line-height-medium);
  text-transform: uppercase;
  color: $color;
}

@define-mixin link-hover $color, $hover-color, $transition {
  color: $color;
  transition: color $transition;

  &:hover,
  &:active {
    color: $hover-color;
  }
}

/* Modules overrides */
@define-mixin case-study-title $font-family, $text-transform {
  font-family: $font-family;
  font-weight: 400;
  font-size: var(--font-size-2);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  text-transform: $text-transform;

  @media screen and (min-width: 50em) {
    font-size: var(--font-size-1);
  }
}
