/* Positioning & Z-index */
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 30;
  display: flex;
  justify-content: space-between;
  padding: var(--space-fluid-20-40);
}

.wordmark {
  position: relative;
  z-index: 1;
}

body:has(.menu-overlay) .wordmark {
  visibility: hidden;
}

.menu-toggle {
  position: relative;
  z-index: 2;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  z-index: 20;
}

.menu-content {
  position: fixed;
  inset: 0;
  z-index: 25;
  pointer-events: none;
}

body:has(.menu-overlay) {
  position: fixed;
  width: 100%;
}

/* Overlay styling */
.menu-overlay {
  background: $color-nightshade;
  opacity: 0.9;
}

/* Menu toggle styling */
.menu-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--font-serif);
  text-transform: uppercase;
  color: $color-hyperbeam;
}

.menu-toggle svg {
  width: 10px;
  height: 10px;
}

/* Menu list */
.mobile-menu-list {
  pointer-events: none;
  padding-top: 100px;
}

.mobile-menu-item {
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-headline);
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-hyperbeam;
  width: fit-content;
  pointer-events: auto;
}

.main-menu-item {
  font-family: var(--font-serif);
  font-weight: 900;
  font-size: var(--font-size-fluid-menu);
  line-height: 1;
  text-transform: uppercase;
}

.menu-toggle span {
  display: inline-block;
}

.menu-toggle-dot {
  width: 2ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle-text {
  display: inline-block;
  text-align: left;
  width: 5ch;
}

header {
  mix-blend-mode: difference; /* or exclusion, or screen */
}
