/* TODO: reconcile with footer.css, see TODO in footer.css */

/* apps/web/src/styles/navigation.css */

@import './mixins';

/* footer primary menu */
footer .menu-primary li a {
  @mixin typography var(--font-serif-bold), var(--font-size-fluid-menu-reverse);
  display: inline-block;
  font-size: var(--font-size-fluid-menu-reverse);
  line-height: var(--line-height-default);
  letter-spacing: var(--letter-spacing-tight);
  text-transform: uppercase;
  color: $color-vinewhip;
  transition: color 0.3s ease;
}

/* primary menu base */
.menu-primary li {
  line-height: 0.9;
}

.menu-primary li a {
  display: flex;
  align-items: flex-end;
  gap: 0.25em;
  width: fit-content;
  position: relative;
  pointer-events: auto;

  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-menu-mobile);
  text-transform: uppercase;

  transition: color 0.3s ease;
}

/* mobile primary menu */
.mobile-menu .menu-primary li a {
  color: $color-hyperbeam;
  &:hover {
    color: $color-sandstorm;
  }
  @media screen and (min-width: 50em) {
    .mobile-menu .menu-primary li a {
      color: $color-sandstorm;
      &:hover {
        color: $color-hyperbeam;
      }
    }
  }
}

.mobile-menu .menu-primary li a:hover {
  color: $color-hyperbeam;
}

/* primary menu icons */
.mobile-menu .menu-primary li a:hover svg {
  display: none;
}

.menu-primary li a svg {
  flex-shrink: 0;
  width: 0.75em;
  height: 0.75em;
  opacity: 0;
  color: inherit;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
}

@media screen and (min-width: 50em) {
  .mobile-menu .menu-primary li a {
    color: $color-sandstorm;
  }

  .mobile-menu .menu-primary li a:hover svg {
    display: initial;
    opacity: 1;
  }
}

/* secondary menu typography */
.mobile-menu .menu-secondary {
  p,
  .link {
    color: $color-sandstorm;
  }
}

footer .menu-secondary {
  p,
  .link {
    color: $color-vinewhip;
  }
}

.menu-secondary {
  p,
  .link {
    display: block;
    font-size: var(--font-size-fluid-extra-small);
    line-height: var(--line-height-loose);
    letter-spacing: var(--letter-spacing-loose);
    text-transform: uppercase;
  }

  a {
    position: relative;
  }

  a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: currentColor;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.33s ease;
  }

  a:hover::after {
    transform: scaleX(1);
  }

  button {
    border: none;
    background: none;
    cursor: pointer;
  }
}
