/* apps/web/src/styles/navigation.css */

.menu-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  padding: 0;
  margin: 0;
  appearance: none;
  background: none;
  border: none;
  outline: none;

  font-family: var(--font-serif);
  text-transform: uppercase;
  color: $color-hyperbeam;
  cursor: pointer;
}

.menu-toggle svg {
  width: 10px;
  height: 10px;
}

.mobile-menu-list {
  padding: 100px;
}

/* Desktop menu */

.main-menu-item {
  font-family: var(--font-serif);
  font-weight: 900;
  font-size: var(--font-size-fluid-menu);
  line-height: 1;
  text-transform: uppercase;
}

/* Mobile menu */

.mobile-menu-item {
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-headline);
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-hyperbeam;

  opacity: 0;
  transform: translateY(50px);
}

/* Overlay */

.menu-overlay {
  position: fixed;
  inset: 0;
  background: $color-nightshade;
  opacity: 0.9;
  transform: scaleY(0);
  transform-origin: top;
}

/* Content */

.menu-content {
  position: fixed;
  inset: 0;
  overflow-y: auto;
  transform: scaleY(0);
  transform-origin: top;
}

/* Header stacking */

.headroom {
  position: relative;
}

.menu-toggle {
  position: relative;
  z-index: 60;
}

.wordmark {
  position: relative;
  z-index: 30;
}

.menu-content {
  z-index: 40;
}

.menu-overlay {
  z-index: 30;
}
