.menu-overlay {
  position: fixed;
  inset: 0;
  background: $color-nightshade;
  opacity: 0.9;
  z-index: 10;
}

.menu-content {
  position: fixed;
  inset: 0;
  z-index: 20;
  pointer-events: none;
}

.mobile-menu-list {
  pointer-events: none;
}

.mobile-menu-item {
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-headline);
  line-height: 1.1;
  text-transform: uppercase;
  color: $color-hyperbeam;
  width: fit-content;
  pointer-events: auto;
}
.menu-toggle {
  position: relative;
  z-index: 30;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--font-serif);
  text-transform: uppercase;
  color: $color-hyperbeam;
}

.menu-toggle svg {
  width: 10px;
  height: 10px;
}

.wordmark {
  z-index: 1;
}

.main-menu-item {
  font-family: var(--font-serif);
  font-weight: 900;
  font-size: var(--font-size-fluid-menu);
  line-height: 1;
  text-transform: uppercase;
}

body:has(.menu-overlay) {
  position: fixed;
  width: 100%;
}
