/* apps/web/src/styles/navigation.css */

/* HEADROOM */

.headroom {
  top: 0;
  left: 0;
  right: 0;
  padding: var(--space-20);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.headroom-wrapper {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.headroom--unfixed {
  position: fixed;
  transform: translateY(0);
}

.headroom--scrolled {
  transition: transform 200ms ease-in-out;
}

.headroom--unpinned {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 200ms ease-in-out;
}

.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}

/* MENU TOGGLE */

.menu-toggle {
  position: fixed;
  top: var(--space-20);
  right: var(--space-20);
  z-index: 10000;
  appearance: none;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font-family: var(--font-serif);
  text-transform: uppercase;
  color: $color-hyperbeam;
  cursor: pointer;
  outline: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.menu-toggle svg {
  width: 10px;
  height: 10px;
}

/* MAIN MENU */

.main-menu-item {
  font-family: var(--font-serif);
  font-weight: 900;
  font-size: var(--font-size-fluid-menu);
  line-height: 1;
  text-transform: uppercase;
}

/* MOBILE MENU */

.mobile-menu-content {
  position: fixed;
  inset: 0;
  background-color: var(--color-nightshade);
  padding: var(--space-20);
  padding-top: 80px;
  z-index: 9000;
  overflow: hidden;
}

.mobile-menu-item {
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-headline);
  text-transform: uppercase;
  color: var(--color-hyperbeam);
  line-height: 1.1;
}
