/* apps/web/src/styles/navigation.css */

/* Main menu, mobile */

.mobile-menu > nav {
  pointer-events: none;
}

.mobile-menu > nav > div {
  pointer-events: none;
}

.mobile-menu > nav > div > ul {
  pointer-events: none;
}

.mobile-menu-list {
  pointer-events: none;
}

.mobile-menu-primary {
  padding: var(--space-fluid-20-40);
  padding-top: 20px;
}

/* Menu list */
.mobile-menu-primary li {
  line-height: 0.9;
}

.mobile-menu-primary li a {
  display: block;
}

.mobile-menu-primary li a {
  font-family: var(--font-serif);
  font-size: var(--font-size-fluid-menu-mobile);
  text-transform: uppercase;
  width: fit-content;
  pointer-events: auto;
  color: $color-sandstorm;
  display: flex;
  align-items: flex-end;
  gap: 0.25em;
  position: relative;
  transition: color 0.3s ease;
}

.mobile-menu-primary li a svg {
  opacity: 0;
  color: inherit;
  transition:
    opacity 0.3s ease,
    color 0.3s ease;
  flex-shrink: 0;
  height: 0.75em;
  width: 0.75em;
}

.mobile-menu-primary li a:hover {
  color: $color-hyperbeam;
}

.mobile-menu-primary li a:hover svg {
  opacity: 1;
}

.mobile-menu-secondary {
  pointer-events: none;
}

.mobile-menu .wordmark {
  pointer-events: none;
}
