/* apps/web/src/styles/overlay.css */

/* Overlay */
body:has(.menu-overlay) {
  position: fixed;
  width: 100%;
}

.menu-overlay {
  position: fixed;
  inset: 0;
  background: $color-nightshade;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  z-index: 100;
}

.mobile-menu {
  position: fixed;
  inset: 0;
  visibility: hidden;
  pointer-events: none;
}
