/* apps/web/src/styles/toggle.css */

/* Base toggle */
.menu-toggle {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0;
  cursor: pointer;
  background: none;
  border: none;
  font-family: var(--font-serif);
  text-transform: uppercase;
}

.menu-toggle span {
  display: inline-block;
}

.menu-toggle svg {
  width: 0.6em;
  height: auto;
}

/* Toggle dot */
.menu-toggle-dot {
  width: 1.5ch;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.menu-toggle-dot svg {
  transform: translateX(0);
  color: var(--color-hyperbeam);
  transition:
    transform 0.5s ease,
    color var(--ease-menu-item);
}

/* Toggle text */
.menu-toggle-text {
  font-size: var(--font-size-toggle);
  width: 6ch;
  display: inline-block;
  text-align: left;
  letter-spacing: var(--letter-spacing-extra-loose);
  font-family: var(--font-serif);
  text-transform: uppercase;
  color: var(--color-vinewhip);
  transition: color var(--ease-menu-item);
}

/* Hover — only when not open */
.menu-toggle:not(.is-open):hover .menu-toggle-dot svg,
.menu-toggle:not(.is-open):hover .menu-toggle-text {
  color: var(--color-aircutter);
}

/* Open state */
.menu-toggle.is-open .menu-toggle-dot svg {
  transform: translateX(-1ch);
  color: var(--color-hyperbeam);
}

.menu-toggle.is-open .menu-toggle-text {
  color: var(--color-hyperbeam);
}

@media (min-width: 50em) {
  .menu-toggle.is-open .menu-toggle-dot svg {
    transform: translateX(-1ch);
  }

  .menu-toggle.is-open .menu-toggle-text {
    color: var(--color-sandstorm);
  }
}

.menu-toggle.is-open:hover .menu-toggle-text {
  color: var(--color-hyperbeam);
}

.menu-toggle .menu-toggle-text {
  color: var(--color-hyperbeam);
}

[data-page='/'] .menu-toggle:not(.is-open) .menu-toggle-dot svg,
[data-page='/'] .menu-toggle:not(.is-open) .menu-toggle-text {
  color: var(--color-vinewhip);
}

[data-page='/'] .menu-toggle:not(.is-open):hover .menu-toggle-dot svg,
[data-page='/'] .menu-toggle:not(.is-open):hover .menu-toggle-text {
  color: var(--color-sandstorm);
}
