/* apps/web/src/styles/typography.css */

/* @import './tokens.css'; */
@import './mixins';

body {
  font-family: var(--font-sans);
}

.title {
  white-space: pre-line;
}

.text p:not(:last-of-type) {
  margin-block-end: var(--space-fluid-10-20);
}

.text blockquote {
  margin-block: var(--space-fluid-40-80);
}

.title {
  line-height: var(--line-height-tight);
}

.title.primary {
  font-family: var(--font-serif);
  font-size: var(--font-size-xl-fluid);
  text-transform: uppercase;
}

.title.secondary {
  margin-block-end: var(--space-10);

  /* mb-3 mr-5p pt-4 text-lg-fluid ws-pre-line */
}

/* PARAGRAPHS & BLOCKS */
p {
  hyphens: none;
  text-justify: inter-word;
}

/* Blockquote override for case study pages */
.case-study blockquote {
  font-family: inherit;
  font-size: inherit;
  /* line-height: var(--line-height-fluid-reverse); */
  padding: var(--space-fluid-20-60) 0;
  font-weight: 900;
}
