/* apps/web/src/styles/typography.css

Contains typographic rhythm, scaling, and sizing. Does not contain spacing, color, or special effects */

/* @import './tokens.css'; */
@import './mixins';

body {
  font-family: var(--font-sans);
}

/* HEADINGS */
h1,
h2 {
  font-weight: 700;
}

h3 {
  font-weight: 100;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  @mixin typography var(--font-serif), var(--font-size-fluid-headline);
  line-height: var(--line-height-tight);
  letter-spacing: -0.06em;
}

h2 {
  @mixin typography var(--font-serif), var(--font-size-fluid-subheadline);
  line-height: var(--line-height-tight);
  letter-spacing: var(--letter-spacing-tight);
  /* @mixin letter-spacing-responsive var(--letter-spacing-loose); */
}

h3 {
  @mixin typography var(--font-sans), var(--font-size-fluid-impact-headline);
  line-height: var(--line-height-default);
}

h3 {
  font-family: var(--font-sans);
}

/* PARAGRAPHS & BLOCKS */
p {
  hyphens: none;
  text-wrap: balance;
  text-justify: inter-word;
}

p.large {
  @mixin typography var(--font-sans), var(--font-size-fluid-large);
  line-height: var(--line-height-fluid-reverse);
}

p.medium {
  @mixin typography var(--font-sans), var(--font-size-fluid-medium);
  line-height: 1.2;
}

p.small,
.client-name {
  @mixin typography var(--font-sans), var(--font-size-fluid-small);
}

ul li {
  @mixin typography var(--font-sans), var(--font-size-fluid-xsmall);
  line-height: var(--line-height-loose);
}

.tag {
  @mixin typography var(--font-sans), var(--font-size-fluid-extra-small);
  letter-spacing: var(--letter-spacing-loose);
  text-transform: uppercase;
  line-height: 2;
}

/* BLOCKQUOTE OVERRIDE */
.case-study blockquote {
  @mixin typography var(--font-sans), var(--font-size-fluid-small);
  line-height: var(--line-height-fluid-reverse);
  padding: var(--space-fluid-20-60) 0;
  font-weight: 900;
}

/* FOOTER */
footer a.link,
footer p.text {
  @mixin typography var(--font-sans), var(--font-size-fluid-extra-small);
  text-transform: uppercase;
  letter-spacing: var(--letter-spacing-loose);
  line-height: 2;
  display: block;
}

footer .address {
  text-align: right;
}

footer .menu a.link {
  @mixin typography var(--font-serif), var(--font-size-fluid-menu-reverse);
  line-height: 1;
  letter-spacing: var(--letter-spacing-default);
  @media screen and (min-width: 50rem) {
    line-height: 1.2;
  }
}
