/* apps/web/src/styles/typography.css

Contains typographic rhythm, scaling, and sizing. Does not contain spacing, color, or special effects */

/* @import './tokens.css'; */
@import './mixins';

body {
  font-family: var(--font-sans);
}

/* HEADINGS */
h1,
h2,
h3 {
  line-height: var(--line-height-default);
  font-weight: 100;
}

h1,
h2 {
  text-transform: uppercase;
}

h1 {
  @mixin typography var(--font-serif), var(--font-size-fluid-headline);
  @mixin letter-spacing-responsive var(--letter-spacing-loose),
    var(--letter-spacing-tight);
}

h2 {
  @mixin typography var(--font-serif), var(--font-size-fluid-subheadline);
  @mixin letter-spacing-responsive var(--letter-spacing-loose);
}

h3 {
  @mixin typography var(--font-sans), var(--font-size-fluid-impact-headline);
  line-height: var(--line-height-default);
}

/* PARAGRAPHS & BLOCKS */
p {
  @mixin letter-spacing-responsive var(--letter-spacing-normal),
    var(--letter-spacing-loose);
}

p.large {
  @mixin typography var(--font-sans), var(--font-size-fluid-large);
  line-height: var(--line-height-fluid-reverse);
}

p.medium {
  @mixin typography var(--font-sans), var(--font-size-fluid-medium);
  line-height: var(--line-height-fluid-reverse);
}

p.small,
div.client {
  @mixin typography var(--font-sans), var(--font-size-fluid-small);
  line-height: var(--line-height-fluid-reverse);
}

p.body {
  hyphens: none;
  text-wrap: balance;
  text-justify: inter-word;
}

ul li {
  @mixin typography var(--font-sans), var(--font-size-fluid-xsmall);
  line-height: var(--line-height-loose);
}

.tag {
  @mixin all-caps-accent;
  @mixin typography var(--font-sans), var(--font-size-fluid-tag);
  letter-spacing: 0.1em;
  font-weight: 900;
}

/* BLOCKQUOTE OVERRIDE */
.case-study blockquote {
  @mixin typography var(--font-sans), var(--font-size-fluid-small);
  line-height: var(--line-height-fluid-reverse);
  padding: var(--space-fluid-20-60) 0;
  font-weight: 900;
}

/* FOOTER */
footer a.link,
footer p.text {
  @mixin typography var(--font-sans), var(--font-size-fluid-extra-small);
  text-transform: uppercase;
  letter-spacing: 0.05em;
  line-height: 2;
  display: block;
}

footer .address {
  text-align: right;
}

footer .menu a.link {
  @mixin typography var(--font-serif), var(--font-size-fluid-menu-reverse);
  line-height: 1;
}
