/* apps/web/src/styles/wordmark.css */

header,
footer {
  svg {
    display: block;
    height: auto;
  }
}

/* Hide wordmark on homepage */
body:has(.menu-overlay) header > .wordmark {
  visibility: hidden;
}

body:has(.menu-overlay) .mobile-menu .wordmark svg {
  color: $color-sandstorm;
  width: 100vw;
  height: auto;
}

/* body:has(.menu-overlay) .mobile-menu .wordmark {
  position: absolute;
  bottom: 0;
  left: 0;
} */

/* Header */
header svg {
  color: $color-hyperbeam;
  width: 147px;
}

/* Footer */
footer svg {
  width: 100vw;
}

footer .wordmark {
  transform: translateY(0%);
}
