/* apps/web/src/styles/header.css */

/* Headroom wrapper - contains the header */

header {
  position: absolute;
  inset: 0;
  z-index: var(--z-header);
}

/* Base headroom styles */
.headroom {
  position: relative;
  padding: var(--space-fluid-20-60);
  width: 100%;
}

/* Apply flex to header ^homepage */
[data-page]:not([data-page='/']) .headroom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Apply margin left auto to homepage */
[data-page='/'] .headroom .menu-toggle {
  margin-left: auto;
}

.headroom .wordmark {
  transition: transform 0.3s ease;
}

/* Instant out, delayed back in */
.headroom:has(.menu-toggle.is-open) .wordmark {
  transform: translateY(-500%);
  transition: transform 0.6s ease;
}

.headroom:not(:has(.menu-toggle.is-open)) .wordmark {
  transform: translateY(0);
  transition: transform 0.3s ease;

  transition-delay: 1.1s;
}

/* Unfixed state - header in normal flow */
.headroom--unfixed {
  position: relative;
  transform: translateY(0);
}

/* Transition applied during scroll */
.headroom--scrolled {
  transition: transform 300ms ease-in-out;
  mix-blend-mode: plus-lighter;
}

/* Hidden state - scrolling down */
.headroom--unpinned {
  position: fixed;
  transform: translateY(-200%);
}

/* Visible state - scrolling up */
.headroom--pinned {
  position: fixed;
  transform: translateY(0%);
}
