/* apps/web/src/styles/layout/menu.css */

/* Primary Menu */

@media screen and (min-width: 40em) {
  .menu-secondary.utilities,
  .menu-secondary.social {
    flex-direction: row;
    justify-content: space-between;
  }
}

.menu-secondary.social ul {
  display: flex;
  flex-direction: column;
  padding-bottom: var(--space-20);
}

@media screen and (min-width: 30em) {
  .menu-secondary.social ul {
    flex-direction: row;
    gap: var(--space-20);
    padding-bottom: 0;
  }
}

/* Footer */
footer .footer-content {
  display: grid;
  gap: 1rem;
  padding: var(--space-fluid-20-40);
}

@media screen and (min-width: 40em) {
  footer .footer-content {
    grid-template-columns: 1fr 1fr;
  }
}

footer .menu-primary {
  margin-block-end: var(--space-fluid-20-40);
}

@media screen and (min-width: 50em) {
  footer .menu-primary,
  footer .menu-secondary .addresses {
    margin-block-end: var(--space-fluid-20-60);
  }
}
